<!-- sidebar starts -->
<div class="sidebar">
    <div class="flex justify-between w-100">
        <div class="twitter-icon cursor-pointer">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="toggle cursor-pointer">
            <i class="fas fa-bars"></i>
        </div>
    </div>

    <div class="sidebarOption active">
        <span class="material-icons"> home </span>
        <h2 class="sidebar-title">Home</h2>
    </div>

    <div class="sidebarOption">
        <span class="material-icons"> search </span>
        <h2 class="sidebar-title">Explore</h2>
    </div>

    <div class="sidebarOption">
        <span class="material-icons"> notifications_none </span>
        <h2 class="sidebar-title">Notifications</h2>
    </div>

    <div class="sidebarOption">
        <span class="material-icons"> mail_outline </span>
        <h2 class="sidebar-title">Messages</h2>
    </div>

    <div class="sidebarOption">
        <span class="material-icons"> bookmark_border </span>
        <h2 class="sidebar-title">Bookmarks</h2>
    </div>

    <div class="sidebarOption">
        <span class="material-icons"> list_alt </span>
        <h2 class="sidebar-title">Lists</h2>
    </div>

    <div class="sidebarOption">
        <span class="material-icons"> perm_identity </span>
        <h2 class="sidebar-title">Profile</h2>
    </div>

    <div class="sidebarOption">
        <span class="material-icons"> more_horiz </span>
        <h2 class="sidebar-title">More</h2>
    </div>
    <button class="sidebar__tweet">Tweet</button>

    <a href="/twitter-clone/user/logout" class="logout d-flex align-items-center justify-content-center mt-3" style="background-color: red; color: aliceblue;border-radius: 18px;padding: 12px 24px;text-decoration: none;">
        <h4 class="sidebar-title mb-0">Logout</h4>
        <span class="material-icons ms-2 mt-1"> logout </span>
    </a>
</div>
<!-- sidebar ends -->